<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>amazon</key>
	<string>amazon.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>behance</key>
	<string>behance.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cart</key>
	<string>cart.glif</string>
	<key>close</key>
	<string>close.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dribble</key>
	<string>dribble.glif</string>
	<key>dropbox</key>
	<string>dropbox.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>facebook</key>
	<string>facebook.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>googledrive</key>
	<string>googledrive.glif</string>
	<key>googleplus</key>
	<string>googleplus.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>heart01</key>
	<string>heart01.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>icon</key>
	<string>icon.glif</string>
	<key>instagram</key>
	<string>instagram.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>like</key>
	<string>like.glif</string>
	<key>linkedin</key>
	<string>linkedin.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mail</key>
	<string>mail.glif</string>
	<key>map</key>
	<string>map.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>navicon</key>
	<string>navicon.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>phone</key>
	<string>phone.glif</string>
	<key>pinterest</key>
	<string>pinterest.glif</string>
	<key>profile</key>
	<string>profile.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>search</key>
	<string>search.glif</string>
	<key>settings</key>
	<string>settings.glif</string>
	<key>share</key>
	<string>share.glif</string>
	<key>skype</key>
	<string>skype.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>twitter</key>
	<string>twitter.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vibeit</key>
	<string>vibeit.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
</dict>
</plist>
